.mycontainer{
    background-color: #EC9A66;
    min-height: 1000px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    justify-content: center;
}
h3,h4{
    color: black;
    font-size: 18px!important;
}
.profile{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border: 3px solid #EC9A66;
    border-radius: 100%;
    justify-content: center;
}
.btn{
    background-color: green;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    color: white!important;
}
.btnlogout{
    background-color: red;
    padding: 12px;
    width: 100%;
    margin-top: 12px;
    border-radius: 8px;
    color: white;
}
.innerContainer{
    width: 60%;
    min-width: 400px;
    min-height: 600px;
    float: left;
    background-color: white;
    padding: 30px;
    justify-content: center;
}